body {
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Noto Sans JP",
    sans-serif;


    background: #f5f5f5;
    padding: 20px;
}
h1{
    color: #333;
}

.box{
    background: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#result{
    background:#ffffff;
    padding: 15px;
    border-radius: 6px;
}